.menu_active {
  background-color: lightblue;
  color: rgb(5, 61, 109);
}
.submenu_active {
  color: rgb(3, 97, 180);
  text-shadow: 0px 1px 1px aliceblue;
  padding-left: 8px;
  font-weight: 600 !important;
}
.icon_active {
  color: rgb(5, 61, 109);
}
